footer {
  background-color: transparent;
  font-size: var(--body-font-size-xs);
  border-top: 1px solid var(--color-stroke);
}

footer .footer > div {
  margin: auto;
  max-width: 1200px;
  padding: 36px 24px 46px;
}

footer .footer p {
  margin: 0;
  color: var(--text-muted);
}

@media (width >= 900px) {
  footer .footer > div {
    padding: 36px 48px 46px;
  }
}
